@import 'reactflow/dist/style.css';

html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden; /* Prevent scrollbars from layout changes */
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 250px; /* Fixed width for the sidebar */
  background-color: #f0f0f0;
  border-right: 1px solid #ddd;
  padding: 10px;
  overflow-y: auto; /* Enable scrolling for tree view if content overflows */
}

.reactflow-container {
  flex-grow: 1; /* ReactFlow container takes remaining space */
}

.crosshair {
  cursor: crosshair !important;
}

.react-flow__nodes {
  z-index: -1;
}

.react-flow__edges {
  z-index: 1;
}