.state-node {
  box-sizing: border-box;
}

.state-node .react-flow__handle {
  /* Base handle styles - sizes are set inline based on depth */
}

.state-node .react-flow__handle.source {
  z-index: 10;
}

.state-node .react-flow__handle.target {
  z-index: 5;
}
